<html>
    <head>
        <title>List Your Product</title>
    </head>
    <body>
        <form action='/wholeSellerListing' method="post">
            <label>Category</label>
            <select name="meal" id="meal" onchange="changeCat(this);">
                <option value="">Select</option>
                <option value="fruits">fruits</option>
                <option value="vegetables">vegetables</option>
                <option value="spices">spices</option>
            </select>
            <label>Names</label>
            <select name="category" id="category" >
                <% if(1){ %>
                    <% for(var i=0;i<fruit.length;i++){ %>
                        <!-- <option value="">Select</option> -->
                        <option value=""><%= fruit[i] %></option>
                    <% } %>
                <% } else if(2){ %>
                    <% for(var i=0;i<vegetable.length;i++){ %>
                        <!-- <option value="">Select</option> -->
                        <option value=""><%= vegetable[i] %></option>
                    <% } %>
                <% } else if(3){ %>
                    <% for(var i=0;i<spice.length;i++){ %>
                        <!-- <option value="">Select</option> -->
                        <option value=""><%= spice[i] %></option>
                    <% } %>
                <% } %>
            </select>
            
<!--
            <select name="meal" id="meal" onchange="changeCat(this);">
                <option value="">Select</option>
                <option value="fruits">fruits</option>
                <option value="vegetables">vegetables</option>
                <option value="spices">spices</option>
            </select>

            <select name="category" id="category" size="5">
                <option value="">Select</option>
            </select>
-->

            <label>Price</label>
            <input type='text' name='price'>
            <label>Quantity</label>
            <input type="number" min="1" name="stock">
            <input type="file"  id="file" name="img"/> 
            <input type="submit" value="Submit">
        </form>
        <script>
            var x = "<%= fruit %>";
            console.log(x);
              var fruit = ("<%- fruit %>").split(",");
               var vegetable = ("<%= vegetable %>").split(",");
               var spice = ("<%= spice %>").split(","); 
               var changeCat = function changeCat(firstList) {
                   var newSel = document.getElementById("category");
                   //if you want to remove this default option use newSel.innerHTML=""
                   newSel.innerHTML="<option value=\"\">Select</option>"; // to reset the second list everytime
                   var opt;

                   //test according to the selected value
                   switch (firstList.options[firstList.selectedIndex].value) {
                       case "fruits":
                           for (var i=0; len=fruit.length, i<len; i++) {
                               opt = document.createElement("option");
                               opt.value = fruit[i];
                               opt.text = fruit[i];
                               newSel.appendChild(opt);
                           }
                           break;
                       case "vegetables":
                           for (var i=0; len=vegetable.length, i<len; i++) {
                               opt = document.createElement("option");
                               opt.value = vegetable[i];
                               opt.text = vegetable[i];
                               newSel.appendChild(opt);
                           }
                       break;
                       case "spices":
                           for (var i=0; len=spice.length, i<len; i++) {
                               opt = document.createElement("option");
                               opt.value = spice[i];
                               opt.text = spice[i];
                               newSel.appendChild(opt);
                       }
                       break;
                   }
               }
        </script>
    </body>
</html>